# DIRECTORIES
node_modules
public
docs/.netlify
docs/netlify/functions/search/**
!docs/netlify/functions/search/index.js

# FILES
.pnpm-debug.log
docs/tsup.config.ts
docs/src/views/layout/base.liquid
docs/src/views/index.liquid
docs/src/views/include/sidebar.liquid
docs/src/views/include/session.liquid
docs/src/views/include/search.liquid
docs/src/views/include/sample/tabs.liquid
docs/src/views/include/sample/pages/home.liquid
docs/src/views/include/sample/pages/counter.liquid
docs/src/views/include/sample/pages/contact.liquid
docs/src/views/include/sample/pages/about.liquid
docs/src/views/include/navbar.liquid
docs/src/views/include/examples/tabs.liquid
docs/src/views/include/examples/modal.liquid
docs/src/views/include/comparison.liquid
docs/src/views/docs/usage/using-typescript.md
docs/src/views/docs/usage/options.md
docs/src/views/docs/usage/installation.md
docs/src/views/docs/usage/connection.md
docs/src/views/docs/misc/reference.md
docs/src/views/docs/misc/methods.md
docs/src/views/docs/lifecycle/store.md
docs/src/views/docs/lifecycle/prefetch.md
docs/src/views/docs/lifecycle/load.md
docs/src/views/docs/lifecycle/fetch.md
docs/src/views/docs/lifecycle/cache.md
docs/src/views/docs/introduction/what-is-spx.md
docs/src/views/docs/introduction/session.md
docs/src/views/docs/introduction/lifecycle.md
docs/src/views/docs/introduction/key-concepts.md
docs/src/views/docs/introduction/getting-started.md
docs/src/views/docs/components/structure.md
docs/src/views/docs/components/state.md
docs/src/views/docs/components/overview.md
docs/src/views/docs/components/incremental.md
docs/src/views/docs/components/directives.md
docs/src/views/docs/components/context.md
docs/src/views/docs/api/visit.md
docs/src/views/docs/api/store.md
docs/src/views/docs/api/session.md
docs/src/views/docs/api/methods.md
docs/src/views/docs/api/hydrate.md
docs/src/views/docs/api/capture.md
docs/src/sass/variables.scss
docs/src/sass/styles/tabs.scss
docs/src/sass/styles/sidebar.scss
docs/src/sass/styles/overwrites.scss
docs/src/sass/styles/navbar.scss
docs/src/sass/styles/layout.scss
docs/src/sass/styles/iframe.scss
docs/src/data/spx.json
docs/src/data/navigation.json
docs/src/app/spx.ts
docs/src/app/index.ts
docs/src/app/examples/tabs.ts
docs/src/app/examples/modal.ts
docs/src/app/examples/logger.ts
docs/src/app/components/tabs.ts
docs/src/app/components/sidebar.ts
docs/src/app/components/session.ts
docs/src/app/components/search.ts
docs/src/app/components/scrollspy.ts
docs/src/app/components/accordion.ts
docs/package.json
docs/netlify.toml
docs/.eleventy.cjs
.vscode/settings.json
.liquidrc
