# DIRECTORIES
# --------------------
.vscode/
node_modules/
src/
demo/
tests/
types/store.ts

# FILES
# -------------------
.babelrc
.browserslistrc
.eslintignore
.gitignore
.prettierignore
rollup.config.js
tsconfig.json
changelog.md
readme.md
