/* BOOTSTRAP ---------------------------------- */
/* CUSTOM ------------------------------------- */
/* CUSTOM ------------------------------------- */
/* -------------------------------------------- */
/* VARIABLE PREFIX                              */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* OPTIONS                                      */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* EDITABLE OPTIONS                             */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* TRANSPARENT                                  */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* PALETTE                                      */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* GRAYS                                        */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* BACKGROUND COLORS                            */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* FONT COLORS                                  */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* BUTTON COLORS                                */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* SPACING                                      */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* GRID                                         */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* GRID > BREAKPOINTS                           */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* GRID > MAX-WIDTHS                            */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* FONT FAMILY                                  */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* BODY                                         */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* FONT SIZES                                   */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* FONT HEADINGS                                */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* FONT WEIGHT                                  */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* LINE HEIGHT                                  */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* LINKS                                        */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* BORDERS                                      */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* SHADOWS                                      */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* HR LINE                                      */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* BUTTONS                                      */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* ASPECT RATIOS                                */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* SPINNER                                      */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* FORM TEXT                                    */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* FORMS LABEL                                  */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* FORM INPUT TEXT                              */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* FORM COLOR PICKER                            */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* FORM RADIO AND CHECKBOX                      */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* FORM SWITCH                                  */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* FORM INPUT GROUP                             */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* FORM SELECT                                  */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* FORM INPUT RANGE                             */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* FORM INPUT FILE                              */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* FORM FLOATING                                */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* FORM VALIDATION                              */
/* -------------------------------------------- */
:root {
  --font-base: Helvetica, sans-serif;
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --body-color: #212529;
  --body-bg: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  color: var(--body-color);
  font-weight: var(--body-font-weight);
  font-family: var(--font-base);
  line-height: var(--body-line-height);
  text-align: var(--body-text-align);
  background-color: var(--body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--body-font-size);
}

 h4, h3, h2, h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-family: Arial, sans-serif;
  line-height: 1.2;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

a {
  color: #0d6efd;
  text-decoration: underline;
}
a:hover {
  color: #0a58ca;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code {
  font-family: var(--font-code);
  font-size: 1em;
  direction: ltr /* rtl:ignore */;
  unicode-bidi: bidi-override;
}

pre {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  white-space: normal;
  background-color: #e9ecef;
  border-radius: 0.2rem;
  font-size: 0.875rem;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875rem;
  color: #d63384;
  word-wrap: break-word;
}
a > code {
  color: inherit;
}

img,
svg {
  vertical-align: middle;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  text-transform: none;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type=button],
[type=reset] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit;
}

::file-selector-button {
  font: inherit;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

/* BOOTSTRAP ---------------------------------- */
.container {
  width: 100%;
  padding-right: var(--gutter-x, 0.75rem);
  padding-left: var(--gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
   .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
   .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
   .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
   .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
   .container {
    max-width: 1320px;
  }
}
/* CUSTOM ------------------------------------- */

/* rtl:begin:remove */

/* rtl:end:remove */

/* -------------------------------------------- */
/* MIXIN                                        */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* BUTTONS                                      */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* MIXINS                                       */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* FORM LABEL                                   */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* FORM TEXT                                    */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* FORM CONTROL                                 */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* FORM SELECT                                  */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* FORM CHECK                                   */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* FORM SWITCH                                  */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* FORM FLOATING                                */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* FORM RANGE                                   */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* INPUT GROUPS                                 */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* VALIDATION                                   */
/* -------------------------------------------- */

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg) /* rtl:ignore */;
            transform: rotate(360deg) /* rtl:ignore */;
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg) /* rtl:ignore */;
            transform: rotate(360deg) /* rtl:ignore */;
  }
}

/* -------------------------------------------- */
/* MIXINS                                       */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* FORM LABEL                                   */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* FORM TEXT                                    */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* FORM CONTROL                                 */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* FORM SELECT                                  */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* FORM CHECK                                   */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* FORM SWITCH                                  */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* FORM FLOATING                                */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* FORM RANGE                                   */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* INPUT GROUPS                                 */
/* -------------------------------------------- */

/* -------------------------------------------- */
/* VALIDATION                                   */
/* -------------------------------------------- */

/* BOOTSTRAP ---------------------------------- */
