<div class="row pt-4 pb-5">
  <div class="col-6">
    <h6 class="mb-2">Download size</h6>
    <p class="mb-4">Gzipped distribution size for related modules.</p>
    <div class="fs-sm mb-2 ff-heading fc-white">
      SPX ~ 
      12kb
    </div>
    <div
      class="comparison"
      style="animation:grow 0.55s;width:22%;"></div>
    <div class="fs-sm mt-3 mb-2 ff-heading fc-gray">
      HTMX + Idiomorph ~ 
      20kb
    </div>
    <div
      class="comparison"
      style="animation:grow 0.84s;width:45%"></div>
    <div class="fs-sm mt-3 mb-2 ff-heading fc-gray">
      Alpine + Packages ~ 
      30kb
    </div>
    <div
      class="comparison"
      style="animation:grow 1s;width:55%"></div>
    <div class="fs-sm mt-3 mb-2 ff-heading fc-gray">
      Stimulus + Turbo ~ 
      30kb
    </div>
    <div
      class="comparison"
      style="animation:grow 1.45s;width:80%"></div>
  </div>
  <div class="col-6">
    <h6 class="mb-2">Performance</h6>
    <p class="mb-4">Rendering based performance metrics are estimated.</p>
    <div class="fs-sm mb-2 ff-heading fc-white">
      SPX ~ 
      150ms
    </div>
    <div
      class="comparison"
      style="animation: grow 0.55s;width:30%;"></div>
    <div class="fs-sm mt-3 mb-2 ff-heading fc-gray">
      HTMX ~ 
      150ms
    </div>
    <div
      class="comparison"
      style="animation:grow 0.84s;width:45%"></div>
    <div class="fs-sm mt-3 mb-2 ff-heading fc-gray">
      Alpine ~ 
      450ms
    </div>
    <div
      class="comparison"
      style="animation:grow 1s;width:55%"></div>
    <div class="fs-sm mt-3 mb-2 ff-heading fc-gray">
      Stimulus + Turbo ~ 
      550ms
    </div>
    <div
      class="comparison"
      style="animation:grow 1.45s;width:75%"></div>
  </div>
</div>