<header
  id="navbar"
  class="container-fluid navbar d-unset d-sm-none">

  <nav class="row jc-between ai-center px-2">

    <input
      type="button"
      class="col-auto btn drawer-toggle ml-2 d-flex d-sm-none"
      spx@click="drawer.toggle">

    <a
      href="/"
      class="col-auto tc-sm"
      title="Home Page"
      spx-target="body">
      {% svg 'logo', 'logo' %}
    </a>

    <div class="d-none d-sm-flex col-auto pt-sm-2">
      {% include 'version' %}
    </div>
    <a
      class="col-auto d-none"
      href="{{ navigation.github.url }}"
      title="SPX Github"
      target="_blank">
      {% svg 'github', 'icon-github' %}
    </a>
  </nav>

</header>