---
title: 'Incremental - Page B'
layout: views/base.liquid
permalink: '/components/incremental/page-b/index.html'
base: /components/incremental/
---

<h1 id="title">Incremental - Page B</h1>

{{ content }}

{%- include 'cases/component-incremental/include/pages' -%}
{%- include 'cases/component-incremental/include/target' -%}

<section
  class="row bt ml-1 py-3"
  id="content">

  <button
    type="button"
    class="col-auto ff-head bc-black bg-white bd bd-3 fs-xs upper p-2 px-3 rd fw-bold"
    spx@click="incremental.decrement">
    Decrement
  </button>

  <button
    type="button"
    class="col-auto ff-head bc-black bg-white bd bd-3 fs-xs upper p-2 px-3 rd fw-bold ml-3"
    spx@click="incremental.labelValue"
    spx-incremental:text="Example Value!">
    Update Label
  </button>

  <div class="col-12 tl fs-xs bt mt-3 pt-3 pl-1">
    <strong>NOTE:</strong>
    The above buttons are component events contained within a target element
  </div>
</section>