<div class="reset">
  <div class="p-5 bg-white">
    <section
      id="newsletter"
      spx-component="modal"
      class="modal">
      <div class="modal-container w-25 p-4">
        <h1>Newsletter</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Ac tortor dignissim convallis aenean et tortor at risus.
        </p>
        <hr>
        <button
          type="button"
          class="btn btn-black rd tc"
          spx@click="modal.close">
          Close
        </button>
      </div>
    </section>
    <section
      id="size-chart"
      spx-component="modal"
      class="modal">
      <div class="modal-container w-25 p-4">
        <h1>Size Chart</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Ac tortor dignissim convallis aenean et tortor at risus.
        </p>
        <hr>
        <button
          type="button"
          class="btn btn-black rd tc"
          spx@click="modal.close">
          Close
        </button>
      </div>
    </section>
    <div class="w-100 tc">
      <button
        type="button"
        class="btn btn-black rd tc mr-2"
        spx@click="modal.open">
        Newsletter
      </button>
      <button
        type="button"
        class="btn btn-black rd  tc"
        spx@click="modal.open">
        Size Chart
      </button>
    </div>
  </div>
</div>