<div class="reset">
  <div class="p-5 bg-white">
    <section
      spx-component="tabs"
      spx-tabs:open="0">
      <div spx-node="tabs.buttons">
        <button
          type="button"
          class="btn btn-black active rd-t bb-0 bw-1"
          spx@click="tabs.toggle"
          spx-tabs:index="0">
          Foo Tab
        </button>
        <button
          type="button"
          class="btn btn-black rd-t bb-0 bw-1"
          spx@click="tabs.toggle"
          spx-tabs:index="1">
          Bar Tab
        </button>
        <button
          type="button"
          class="btn btn-black rd-t bb-0 bw-1"
          spx@click="tabs.toggle"
          spx-tabs:index="2">
          Baz Tab
        </button>
      </div>
      <div class="bt bw-1 w-50 py-3">
        <div spx-node="tabs.panel">
          <h5 class="fc-black my-2">Tab index 0</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Ac tortor dignissim convallis aenean et tortor at risus.
          </p>
        </div>
        <div
          class="d-none"
          spx-node="tabs.panel">
          <h5 class="fc-black my-2">Tab index 1</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti. Commodo sed egestas egestas fringilla phasellus faucibus. Eu tincidunt tortor aliquam nulla facilisi cras fermentum. Nullam eget felis eget nunc lobortis mattis. Et netus et malesuada fames ac turpis egestas maecenas. Vitae turpis massa sed elementum tempus egestas. Eget mi proin sed libero enim sed faucibus turpis. Pharetra convallis posuere morbi leo urna molestie. Magna eget est lorem ipsum dolor.
          </p>
        </div>
        <div
          class="d-none"
          spx-node="tabs.panel">
          <h5 class="fc-black my-2">Tab index 2</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Ac tortor dignissim convallis aenean et tortor at risus.
          </p>
        </div>
      </div>
    </section>
  </div>
</div>