/* stylelint-disable color-hex-length */

:root {
  --papyrus-css-selector: #a5d447;
  --papyrus-css-tag-selector: #E91E63;
  --papyrus-css-function: #a5d447;
  --papyrus-css-variable: #b594d9;
  --papyrus-css-operator: #E91E63;
  --papyrus-css-punctuation: #fafafa;
  --papyrus-css-important: #E91E63;
  --papyrus-css-atrule: #E91E63;
  --papyrus-css-property: #81D4FA;
  --papyrus-css-property-value: #FFF9A6;
  --papyrus-css-number: #F48FB1;
  --papyrus-css-hexcode: #F48FB1;
  --papyrus-css-combinator: #E91E63;
  --papyrus-css-unit: #E91E63;
  --papyrus-css-attr-name: #a5d447;
  --papyrus-css-attr-value: #FFF9A6;;
  --papyrus-css-attr-punctuation: #f4f4f4;
  --papyrus-css-pseudo-element: #e18d27
}


.token {

  &.selector {
    color: var(--papyrus-css-selector);
  }

  &.attribute {
    .punctuation {
      color: var(--papyrus-css-attr-punctuation);
    }
  }

  &.css-tag {
    color: var(--papyrus-css-tag-selector);
  }

  &.colon {
    color: var(--papyrus-css-operator);
  }

  &.css-attr-name {
    color: var(--papyrus-css-attr-name);
  }

  &.css-attr-value {
    color: var(--papyrus-css-attr-value);
  }

  &.inserted {
    color: var(--papyrus-css-inserted);
  }

  &.atrule {
    color: var(--papyrus-css-atrule);
  }

  &.important{
    color: var(--papyrus-css-important);
  }

  &.keyword {
    color: var(--papyrus-css-deleted);
  }

  &.punctuation {
    color: var(--papyrus-css-punctuation);
  }

  &.property {
    color: var(--papyrus-css-property);
  }

  &.property-value {
    color: var(--papyrus-css-property-value);
  }

  &.operator {
    color: var(--papyrus-css-operator);
  }

  &.combinator {
    color: var(--papyrus-css-combinator);
  }

  &.variable {
    color: var(--papyrus-css-variable);
  }

  &.number {
    color: var(--papyrus-css-number);
  }

  &.unit{
    color: var(--papyrus-css-unit);
  }

  &.hexcode{
    color: var(--papyrus-css-hexcode);
  }

  &.function {
    color: var(--papyrus-css-function);
  }

  &.pseudo-element {
    color: var(--papyrus-css-pseudo-element);
  }
}