:root {
  --papyrus-js-keyword: #E91E63;
  --papyrus-js-function: #9EE34F;
  --papyrus-js-class-name: #9EE34F;
  --papyrus-js-function-name: #81D4FA;;
  --papyrus-js-punctuation: #FAFAFA;
  --papyrus-js-special-chars: #E91E63;
  --papyrus-js-parameter: #FFAB40;
  --papyrus-js-variable: #81D4FA;
  --papyrus-js-operator: #E91E63;
  --papyrus-js-operation: #E91E63;
  --papyrus-js-module: #E91E63;
  --papyrus-js-semi: #fafafa;
  --papyrus-js-flow: #E91E63;
  --papyrus-js-number: #F48FB1;
  --papyrus-js-boolean: #F48FB1;
  --papyrus-js-string: #F5EC70;
  --papyrus-js-regex: #F5EC70;
  --papyrus-js-regex-flags: #E91E63;
  --papyrus-js-literal-property: #22c0cb;
  --papyrus-js-comment: #888888;

}

code.language-js {


  .token {

    &.keyword {
      color: var(--papyrus-js-keyword);
    }

    &.punctuation {
      color: var(--papyrus-js-punctuation);
    }

    &.punctuation-chars {
      color: var(--papyrus-js-special-chars);
    }

    &.comment {
      color: var(--papyrus-js-punctuation-comment);
    }

    &.parameter {
      color: var(--papyrus-js-parameter);
    }

    &.variable {
      color: var(--papyrus-js-variable);
    }

    &.operator {
      color: var(--papyrus-js-operator);
    }

    &.operation {
      color: var(--papyrus-js-operation);
    }

    &.module {
      color: var(--papyrus-js-module);
    }

    &.function {
      color: var(--papyrus-js-function);
    }

    &.class-name {
      color: var(--papyrus-js-class-name);
    }

    &.function-name {
      color: var(--papyrus-js-function-name);
    }

    &.number {
      color: var(--papyrus-js-number);
    }

    &.flow {
      color: var(--papyrus-js-flow);
    }

    &.string {
      color: var(--papyrus-js-string);
    }


    &.semi {
      color: var(--papyrus-js-semi);
    }

    &.boolean {
      color: var(--papyrus-js-boolean);
    }

    &.regex {
      color: var(--papyrus-js-regex);
    }

    &.regex-flags {
      color: var(--papyrus-js-regex-flags);
    }

    &.literal-property {
      color: var(--papyrus-js-literal-property);
    }
  }
}
