:root {
  --papyrus-json-punctuation: #fafafa;
  --papyrus-json-property: #81D4FA;
  --papyrus-json-string: #FFF9A6;
  --papyrus-json-boolean: #FF80F4;
  --papyrus-json-number: #978FFF;
  --papyrus-json-operator: #E91E63;
}


code.language-json {

  .token {

    &.property {
      color: var(--papyrus-json-property);
    }

    &.operator {
      color: var(--papyrus-json-operator);
    }

    &.string {
      color: var(--papyrus-json-string);
    }

    &.number {
      color: var(--papyrus-json-number);
    }

    &.boolean {
      color: var(--papyrus-json-boolean);
    }

    &.punctuation {
      color: var(--papyrus-json-punctuation);
    }

  }
}