:root {

  /* -------------------------------------------- */
  /* LIQUID TOKENS                                */
  /* -------------------------------------------- */

  --papyrus-liquid-fallback: #fafafa;
  --papyrus-liquid-delimiters: #fafafa;
  --papyrus-liquid-tag: #E91E63;
  --papyrus-liquid-output: #81d4fa;;
  --papyrus-liquid-boolean: #ff80f4;
  --papyrus-liquid-number: #935eff;
  --papyrus-liquid-punctuation: #E91E63;
  --papyrus-liquid-operator: #E91E63;
  --papyrus-liquid-parameter: #ff953c;
  --papyrus-liquid-object-name: #81d4fa;
  --papyrus-liquid-object-prop: #fafafa;
  --papyrus-liquid-filter-name: #3defb9;
  --papyrus-liquid-string: #FFF9A6;
  --papyrus-liquid-comment: #888888;

  /* -------------------------------------------- */
  /* LIQUID IN STRINGS                            */
  /* -------------------------------------------- */

  --papyrus-liquid-string-delimiters: #888888;
  --papyrus-liquid-string-object-name: #81d4fa;
}


.token {

  &.markup,
  &.liquid {
    color: var(--papyrus-liquid-fallback);
  }

  /* -------------------------------------------- */
  /* MARKUP TOKENS                                */
  /* -------------------------------------------- */

  &.markup {
    color: var(--papyrus-liquid-fallback);

    .token {

      &.comment {
        color: var(--papyrus-html-comment);
      }

      &.punctuation {
        color: var(--papyrus-html-delimiter);
      }

      &.tag {
        color: var(--papyrus-html-tag-name);
      }

      &.attr-equals {
        color: var(--papyrus-html-equals);
      }

      &.attr-name {
        color: var(--papyrus-html-attr-name);
      }

      &.attr-value {
        color: var(--papyrus-html-attr-value);
      }

    }
  }

  /* -------------------------------------------- */
  /* LIQUID TOKENS                                */
  /* -------------------------------------------- */

  &.liquid {
    color: var(--papyrus-liquid-fallback);

    .token {

      &.tag {
        color: var(--papyrus-liquid-tag);
      }

      &.output {
        color: var(--papyrus-liquid-output);
      }

      &.punctuation {
        color: var(--papyrus-liquid-punctuation);
      }

      &.operator {
        color: var(--papyrus-liquid-operator);
      }

      &.string {
        color: var(--papyrus-liquid-string);
      }

      &.delimiters {
        color: var(--papyrus-liquid-delimiters);
      }

      &.comment {
        color: var(--papyrus-liquid-comment);
      }

      &.boolean {
        color: var(--papyrus-liquid-boolean);
      }

      &.number {
        color: var(--papyrus-liquid-number);
      }

      &.parameter {
        color: var(--papyrus-liquid-parameter);
      }

      &.object {
        color: var(--papyrus-liquid-object-name);
      }

      &.property {
        color: var(--papyrus-liquid-object-prop);
      }

      &.filter {
        color: var(--papyrus-liquid-filter-name);
      }
    }


    /* LIQUID IN STRINGS -------------------------- */

    &.liquid-string {

      .token {

        &.object {
          color: var(--papyrus-liquid-string-object-name);
        }

        &.delimiters {
          color: var(--papyrus-liquid-string-delimiters);
        }

      }
    }
  }
}
