/* stylelint-disable color-hex-length */

:root {
  --papyrus-xml-prolog: #BECAFF;
  --papyrus-xml-name: #FF93BC;
  --papyrus-xml-prefix: #BECAFF;
}


.token {

  &.prolog {
    color: var(--papyrus-xml-prolog);
  }

  &.name {
    color: var(--papyrus-xml-prefix-name);
  }

  &.prefix {
    color: var(--papyrus-xml-prefix);
  }

}