---
title: 'Incremental - Page B'
layout: index.liquid
group: 'directive'
permalink: '/components/incremental/page-b/index.html'
base: /components/incremental/
---

{% include 'header', title: 'Incremental - Page B' %}
{% include 'pages', type: 'incremental', target: 'section' %}
{% include 'incremental' %}

<section class="row bt mt-4 ml-1 py-3">

  <button
    type="button"
    class="col-auto"
    spx@click="incremental.decrement">
    Decrement
  </button>

  <button
    type="button"
    class="col-auto ml-3"
    spx@click="incremental.labelValue"
    spx-update:text="Example Value!">
    Update Label
  </button>

</section>