<div class="sidebar-footer px-4">
  <div class="row jc-between">
    <div class="col fs-xs">
      <small>V</small>
      {% version %}
    </div>
    <div class="col fs-xs tr">
      <a class="link-example" href="/examples">
        Examples
        <span class="ml-2 mr-4">
          {% svg 'chevron-right', 'icon icon-right' %}
        </span>
      </a>
    </div>
  </div>
</div>