/* -------------------------------------------- */
/* VARIABLE PREFIX                              */
/* -------------------------------------------- */

$variable-prefix: null;
$enable-font-smoothing: true;
/* -------------------------------------------- */
/* EDITABLE OPTIONS                             */
/* -------------------------------------------- */

$enable-rfs: true;

/* -------------------------------------------- */
/* PALETTE                                      */
/* -------------------------------------------- */

$white: rgb(240, 240, 240);
$black: #1c1e21;
$blue: #6eb2d3;
$indigo: #6610f2;
$purple: #a77afe;
$pink: #e45589;
$salmon: #ff8ab0;
$red: #dc3545;
$orange: #ef8c39;
$yellow: #ffe77a;
$green: #c2ff49;
$teal: #20c997;
$cyan: #7ef0ff;
$sea: #8bd3fd;

/* -------------------------------------------- */
/* GRAYS                                        */
/* -------------------------------------------- */

$gray-100: #ffffff;
$gray-200: #f9f9f9; // FONT COLOUR
$gray-300: #f2f0f1;
$gray-400: #c4c8cc;
$gray-500: #a4a6a8;
$gray-600: #999999;
$gray-700: #212529;
$gray-800: #282a36; // CODE BACKGROUND
$gray-900: #181b20;

/* -------------------------------------------- */
/* BACKGROUND COLORS                            */
/* -------------------------------------------- */

$background-colors: (
  'ivory': $gray-300,
  'black': $black,
  'gray': $gray-100,
  'cyan': $cyan,
  'ebony': $gray-800,
  'code': $gray-900
);

/* -------------------------------------------- */
/* BORDER COLORS                                */
/* -------------------------------------------- */

// $border-color: $gray-400;

/* -------------------------------------------- */
/* FONT COLORS                                  */
/* -------------------------------------------- */

$font-colors: (
  'black': $black,
  'white': $gray-200,
  'gray': $gray-500,
  'red': $red,
  'yellow': $yellow,
  'cyan': $cyan,
  'green': $green,
  'purple': $purple,
  'blue': $blue,
  'salmon': $salmon
);

/* -------------------------------------------- */
/* SPACING                                      */
/* -------------------------------------------- */

$spacer: 1rem;

/* -------------------------------------------- */
/* GRID                                         */
/* -------------------------------------------- */

$grid-columns: 12;
$grid-gutter-width: 1.5rem;
$grid-row-columns: 6;

/* -------------------------------------------- */
/* GRID > BREAKPOINTS                           */
/* -------------------------------------------- */

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

/* -------------------------------------------- */
/* GRID > MAX-WIDTHS                            */
/* -------------------------------------------- */

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1000px,
  xxl: 1320px
);

/* -------------------------------------------- */
/* BODY                                         */
/* -------------------------------------------- */

$body-bg: #0f1215; // $black; //#282a36; // $gray-100;
$body-color: $white; //$gray-900;
$code-bg: #181b20; //$black; // #282a36;
$code-inline-bg: $code-bg; // #efefef;
$link-color: $white;

$letter-spacing-base: inherit;
$letter-spacing-heading: inherit;

$font-weight-normal: 200;
$font-weight-lighter: 200;
$font-weight-light: 100;
$font-weight-bold: 500;
$font-weight-bolder: bolder;

/* -------------------------------------------- */
/* BORDER                                       */
/* -------------------------------------------- */

$border-width: 0.01rem;
$border-color: #2d333a; // $gray-600; //$gray-400;

$accordion-border-width:            $border-width;
$accordion-border-color:            $border-color;
$accordion-btn-opened:              $white;
$accordion-padding:                 50px;
$accordion-transition-height:       225ms;
$accordion-transition-opacity:      200ms;
$accordion-transition-easing:       ease-in-out;
$accordion-icon-padding-x:          1.8rem;

/* -------------------------------------------- */
/* FONT FAMILY                                  */
/* -------------------------------------------- */

// stylelint-disable

$font-family-base: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
  Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI',
  Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';

$font-family-heading: $font-family-base;
$font-family-code: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
  monospace;

// stylelint-enable

/* -------------------------------------------- */
/* FONT SIZES                                   */
/* -------------------------------------------- */

$font-size-base: 1rem;

$font-size-xs: $font-size-base * 0.625; // 0.6875rem
$font-size-md: 0.901rem; // 0.7771rem
$font-size-sm: $font-size-base * 0.875; // 0.8525rem
$font-size-lg: $font-size-base * 1.25; // 1.375rem

/* -------------------------------------------- */
/* FONT HEADINGS                                */
/* -------------------------------------------- */

$line-height-base: 1.4;
$line-height-sm: 1.25;
$line-height-lg: 2;
$line-height-xl: 2.4;

$headings-letter-spacing: $headings-letter-spacing;
$headings-font-family: $font-family-heading;
$headings-margin-bottom: $spacer * 2;
$headings-font-style: null;
$headings-font-weight: 600;
$headings-line-height: 1.2;
$headings-color: null;
$headings-uppercase: true;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.8;
$h3-font-size: $font-size-base * 1.6;
$h4-font-size: $font-size-base * 1.4;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

/* -------------------------------------------- */
/* PARAGRAPH                                    */
/* -------------------------------------------- */

$input-bg: rgb(18, 20, 23);
$input-disabled-bg: $gray-100;
$input-disabled-border-color: $gray-200;
$input-color: $body-color;
$input-border-color: $gray-400;

$tooltip-bg: #000;
$tooltip-font-family: $font-family-base;
$tooltip-font-style: normal;
$tooltip-font-size: $font-size-xs;
$tooltip-font-color: $white;
$tooltip-padding-y: 0.3rem;
$tooltip-padding-x: 0.6rem;
$tooltip-arrow-size: 5px;
$tooltip-radius: 0;
$tooltip-border-width: 0.03rem;
$tooltip-animation: true;
$tooltip-use-outline: false;

