---
layout: views/base.liquid
---

<div class="row">
  <div class="col-11">
    {{ content }}
  </div>
</div>
<div class="row">
  <div
    class="col-11 p-4"
    spx-component="lifecycle"
    spx-lifecycle:connect="0"
    spx-lifecycle:onmount="0"
    spx-lifecycle:unmount="0">
    <div class="row">
      <div class="col">
        <div class="tc py-3 bd rd">
          <h5 class="fw-bold fc-gray fs-sm mb-3">
            connect count
          </h5>
          <code
            class="py-2 px-4 fs-lg"
            spx-bind="lifecycle.connect">0</code>
          <p class="fs-xs mt-3">
            Never more than 1
          </p>
        </div>
      </div>
      <div class="col">
        <div class="tc py-3 bd rd">
          <h5 class="fw-bold fc-gray fs-sm mb-3">
            onmount count
          </h5>
          <code
            class="py-2 px-4 fs-lg"
            spx-bind="lifecycle.onmount">0</code>
          <p class="fs-xs mt-3">
            Always 1 more than unmount
          </p>
        </div>
      </div>
      <div class="col">
        <div class="tc py-3 bd rd">
          <h5 class="fw-bold fc-gray fs-sm mb-3">
            unmount count
          </h5>
          <code
            class="py-2 px-4 fs-lg"
            spx-bind="lifecycle.unmount">0</code>
          <p class="fs-xs mt-3">
            Always 1 less than onmount.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>