<section
  class="p-4"
  spx-component="counter">
  <!-- Element -->
  <h3>
    Count:
    <span spx-node="counter.count">0</span>
  </h3>
  <!-- Buttons -->
  <button
    type="button"
    spx@click="counter.increment">
    +
  </button>
  <button
    type="button"
    spx@click="counter.decrement">
    -
  </button>
</section>