<section
  class="p-4"
  spx-component="tabs"
  spx-tabs:init="2">
  <!-- Buttons -->
  <div
    class="bb mb-3"
    spx-node="tabs.button">
    <button
      type="button"
      class="btn btn-white bd bb-0"
      spx@click="tabs.toggle"
      spx-tabs:idx="0">
      Foo
    </button>
    <button
      type="button"
      class="btn btn-white bd bb-0"
      spx@click="tabs.toggle"
      spx-tabs:idx="1">
      Bar
    </button>
    <button
      type="button"
      class="btn btn-white bd bb-0"
      spx@click="tabs.toggle"
      spx-tabs:idx="2">
      Baz
    </button>
  </div>
  <!-- Panels -->
  <div spx-node="tabs.panel">
    <h1>Foo Panel</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
    </p>
  </div>
  <div spx-node="tabs.panel">
    <h1>Bar Panel</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
    </p>
  </div>
  <div spx-node="tabs.panel">
    <h1>Baz Panel</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
    </p>
  </div>
</section>