---
title: 'Morph'
layout: index.liquid
group: 'directive'
permalink: '/components/incremental/index.html'
---

{% include 'header', title: 'Incremental' %}
{% include 'pages', type: 'incremental', target: 'section' %}
{% include 'incremental' %}

<section class="row bt mt-4 ml-1 py-3">

  <button
    type="button"
    class="col-auto"
    spx@click="incremental.increment">
    Increment Counter
  </button>

</section>