.anchors > ul {
  padding: 20px;
  display: block;
  border-left: 0.01rem #2d333a solid;
  border-radius: 5px;
  position: sticky;
  top: $spacer-5 * 2;
  width: 250px;

  li {
    font-size: $font-size-sm;
  }
}
