.ff-heading {
  font-family: $font-family-heading;
}

pre.papyrus + :not(blockquote):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  margin-bottom: $spacer-5 * 1.2;
}

pre.papyrus + blockquote + h1,
pre.papyrus + blockquote + h2,
pre.papyrus + blockquote + h3,
pre.papyrus + blockquote + h4,
pre.papyrus + blockquote + h5,
pre.papyrus + blockquote + h6 {
  margin-top: $spacer-5 * 1.5;
}

p + p,
p + pre.papyrus + p,
pre.papyrus + h4,
p + h1,
p + h2,
p + h4,
p + h5,
p + h6,
p + pre.papyrus {
  margin-top: $spacer-4;
}

pre.papyrus + h1,
pre.papyrus + h2,
pre.papyrus + h3,
pre.papyrus + h4,
pre.papyrus + h5,
pre.papyrus + h6 {
  margin-top: $spacer-5 * 1.2;
}

pre.papyrus + blockquote {
  margin-top: $spacer-4;
  margin-bottom: $spacer-5;
}

p + h1,
ul + h1,
pre + h1 {
  margin-top: $spacer-5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  + p {
    margin-bottom: $spacer-1;
  }
}

hr {
  margin: $spacer-5 * 1.2 0 !important;
  padding: 0 20px;
}

ul {
  margin-bottom: 20px;
}

p {
  a {
    color: $sea;
    font-weight: 500;

    &:hover {
      color: $salmon;
    }
  }
}

table {
  width: 100%;
  margin: 30px 0;

  tr {
    border-bottom: $border-width solid #3d4956;
    line-height: 2.8;

    th {
      font-weight: $font-weight-bolder;
      font-size: 0.9rem;
      font-family: $font-family-other;
      text-transform: uppercase;
    }
  }
}

[data-tooltip] {
  &:after {
    text-transform: none;
  }
}

.papyrus-editor {
  &::-webkit-scrollbar-thumb:horizontal {
    height: 0 !important;
  }
}

:not(pre) > code {
  word-wrap: break-word;
  padding: 0.1rem 0.42rem 0.21rem 0.42rem;
  margin: 0rem 0.2rem 0 0.2rem;
  border-radius: 0.2rem;
  letter-spacing: 0.0235rem;
  font-weight: 500;
  line-height: 1.4rem;
  font-size: 0.71rem;
  color: $white;
  font-family: $font-family-code;
  text-shadow: 0px 0px 4px black;
  border: 0.01rem solid #5d5d70;
  //-webkit-font-smoothing: subpixel-antialiased;
}

:not(pre, h2, h3) > code[class*='language-'] {
  word-wrap: break-word;
  padding: 0.1rem 0.1rem 0.2rem 0.1rem;
  margin: 0rem;
  border-radius: 0.2rem;
  letter-spacing: 0.0235rem;
  font-weight: 400;
  font-size: 0.82rem;
  color: $white;
  font-family: $font-family-code;
  text-shadow: none;
  border: 0;
  //-webkit-font-smoothing: subpixel-antialiased;
}

:not(pre) {
  > a > code {
    color: $papyrus-js-object;
  }

  > a:hover > code {
    color: $salmon;
  }
}

:not(pre) > code[class*='language-js'] {
  color: $papyrus-js-object;
}

table :not(pre) > code[class*='language-'] {
  font-size: 0.8rem !important;
  border: none !important;
  text-shadow: none !important;
}

blockquote > p {
  > a > code {
    color: $papyrus-js-object;
  }

  > code {
    color: $body-color;
  }
}

.breadcrumb {
  font-size: 0.725rem;
  font-family: $font-family-heading;
  text-transform: uppercase;
  font-weight: 400;
  color: $gray-500;

  @media screen and (min-width: 1140px) {
    margin-top: -45px;
  }

  .icon-right,
  .icon-home {
    width: 14px;
    height: 14px;
  }
}

.navigators {
  a {
    font-family: $font-family-heading;
    color: $link-color;
    border: $border-width $border-color solid;
    border-radius: 5px;
    padding: 10px 5px;
    text-align: center;
    background-color: $code-bg;

    &.prev {
      padding: 5px 20px 5px 10px;
    }

    &.next {
      padding: 5px 10px 5px 20px;
    }
    &:hover {
      color: $white;
    }
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}

.language-bash {
  padding: 1.2em !important;
}

.pce-copy {
  background: transparent;
  box-shadow: none;
  padding: 0.7em;
  font-family: $font-family-heading;
  text-transform: uppercase;
  font-weight: 600;

  &::after {
    font-size: 70%;
  }
  &::before {
    position: absolute;
    inset: 0;
    background: transparent;
    box-shadow: inset 0 0 0 1px $border-color;
    content: '';
  }

  &:hover {
    background-color: transparent;
  }
}

h3,
h2 {
  text-transform: none;
}

.drawer-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $drawer-overlay-z-index;
  width: 100%;
  height: 100%;
  background-color: $drawer-overlay-bg;
  visibility: hidden;
  opacity: 0;
  user-select: none;

  @include transition(
    visibility 5ms linear $drawer-duration,
    transform $drawer-duration $drawer-easing,
    opacity $drawer-overlay-duration ease
  );

  .bg-visible & {
    visibility: visible;
    opacity: 1;

    @include transition(visibility 5ms linear $drawer-duration, opacity 5ms linear);
  }

  .drawer-open & {
    visibility: visible;
    opacity: 1;
    will-change: transform, opacity;

    @include transition(
      transform $drawer-duration $drawer-easing,
      opacity $drawer-overlay-duration ease
    );
  }
}
