body {
  max-width: 1920px;
  margin: 0 auto;
}

@include media-breakpoint-up(md) {
  .content-offset {
    margin-left: $sidebar-width;
  }
}

@include media-breakpoint-up(xxl) {
  .content-offset {
    margin-left: $sidebar-width;
    // margin-right: $session-width;
  }
}

.comparison {
  background: $blue;
  height: 4px;
  margin: 0;
  transform-origin: 0;
}

@keyframes grow {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(100%);
  }
}

ol {
  margin-top: $spacer-4;
  margin-bottom: $spacer-4;
  padding-left: $spacer-5;
  margin-left: $spacer-1;
  list-style-type: decimal;

  li {
    font-size: 1rem;
    // font-family: $font-family-heading;
    // text-transform: uppercase;
    margin-bottom: $spacer-1;
    color: $white;

    &::marker {
      color: $gray-500;
      font-weight: bold;
      font-family: $font-family-heading;
      margin-right: $spacer-2;
    }
  }
}
