.language-typescript {
  .token.operator + .token.operation + .token.maybe-class-name {
    color: $papyrus-ts-constant;
  }

  .token.object + .token.punctuation-chars + .token.operator + .maybe-class-name {
    color: $papyrus-ts-constant;
  }
}

:not(pre, h2, .h2, h3, .h3) > code[class*='language-typescript'],
:not(pre, h2, .h2, h3, .h3) > code[class*='language-javascript'] {
  color: #22c0cb;

  .token.bracket > .token.punctuation {
    color: $body-color;
  }
}

.language-bash {
  padding: 0.8em !important;
}

h2 > code {
  font-size: 1.1rem;
  border: none;
  padding-left: 0;
}

h3 > code {
  font-size: 1rem;
  border: none;
  padding-left: 0;
}
