<div class="row gx-0 bd tabs py-2 px-2">
  <div class="col-auto mr-2">
    <button
      type="button"
      class="btn upcase tab active"
      data-index="0"
      spx-node="tabs.btn"
      spx@click="tabs.toggle">
      Home
    </button>
  </div>
  <div class="col-auto">
    <button
      type="button"
      class="btn upcase tab"
      data-index="1"
      spx-node="tabs.btn"
      spx@click="tabs.toggle">
      About
    </button>
  </div>
  <div class="col-auto">
    <button
      type="button"
      class="btn upcase tab"
      data-index="2"
      spx-node="tabs.btn"
      spx@click="tabs.toggle">
      Counter
    </button>
  </div>
  <div class="col-auto">
    <button
      type="button"
      class="btn upcase tab"
      data-index="3"
      spx-node="tabs.btn"
      spx@click="tabs.toggle">
      Contact
    </button>
  </div>
</div>