<section
  spx-component="example"
  spx-example:color="#000"
  spx-example:price="100">
  <button spx@click="example.toggle">
    Select Size
  </button>
  <ul spx-node="example.list">
    <li spx-node="example.size">S</li>
    <li spx-node="example.size">M</li>
  </ul>
</section>