{% unless page.url contains '/examples/' %}
  <div class="pt-4">
    {% for link in collections.all %}
      {% if link.url == page.url %}
        <div class="row jc-between mt-5 mb-3 navigators">
          <div class="col-auto">
            <a
              href="{{ link.data.prev.uri | url }}"
              spx-position="y:0"
              class="btn prev">
              <span class="mr-2">
                {% svg 'chevron-left', 'icon icon-left' %}
              </span>
              {{ link.data.prev.label }}
            </a>
          </div>
          <div class="col-auto">
            <a
              href="{{ link.data.next.uri | url }}"
              spx-position="y:0"
              class="btn next">
              {{ link.data.next.label }}
              <span class="ml-2">
                {% svg 'chevron-right', 'icon icon-right' %}
              </span>
            </a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endunless %}