<div class="versions pb-2">
  <dropdown class="dropdown bc-gray rd" spx-component="dropdown">
    <button
      type="button"
      class="btn fc-white"
      spx@click="dropdown.toggle"
      spx-node="dropdown.button">
      {% version %}
    </button>
    <ul spx-node="dropdown.collapse">
      {% versions %}
    </ul>
  </dropdown>
</div>