.iframe-bg {
  background-color: #131417;

  &::-webkit-scrollbar {
    width: var(--papyrus-scrollbar-width);
    height: var(--papyrus-scrollbar-width);
  }


  &::-webkit-scrollbar-track {
    background: var(--papyrus-scrollbar-track);
  }


  &::-webkit-scrollbar-thumb {
    background: var(--papyrus-scrollbar-thumb);

    &:hover {
      background: var(--papyrus-scrollbar-thumb-hover);
    }
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }

}

.iframe-example {
  width: 100%;
  border: $border-width solid $border-color;
  border-radius: 7px;
  height: 240px;

}
