.navbar {
  position: fixed;
  z-index: 300;
  display: flex;
  background-color: rgba($color: $body-bg, $alpha: 0.9);
  z-index: 999999;
  right: 0;
  height: 50px;
  font-size: 1.075rem;
  width: 100%;
  left: 0px;
  z-index: 200;

  &-search {
    position: fixed;
    width: 300px;
    right: $spacer-5;
    top: 20px;

    input.fm-input {
      border: $border-color $border-width solid;
      border-radius: 5px;
      background-color: $code-bg !important;
      color: $white;
      transition:
        width linear 100ms,
        margin-left linear 100ms;

      &.is-active {
        width: 400px;
        margin-left: -150px;
      }

      &:focus {
        color: $white;
      }

      &::-webkit-search-cancel-button {
        background-color: $code-bg;
      }

      &::-webkit-search-cancel-button {
        appearance: none;
        margin: 0;
        height: 21px;
        width: 21px;
        opacity: 0;
        pointer-events: none;
        background-size: 21px;
        background-position: right 1px center;
        position: absolute;
        right: $input-padding-x;
      }

      &:focus::-webkit-search-cancel-button {
        opacity: 1;
        pointer-events: all;
        cursor: pointer;
        background-image: url(icon-delete($input-placeholder-color));

        &:hover {
          background-image: url(icon-delete($input-placeholder-color));
        }
      }
    }

    .search-list {
      width: 400px;
      height: 400px;
      background-color: $code-bg;
      border: $border-color $border-width solid;
      overflow-y: scroll;
      color: $white;
      margin: 0;
      padding: 0;
      margin-left: -150px;

      li {
        border-top: $border-color $border-width solid;
        color: $white;
        list-style-type: none;
        padding: 10px 5px;
        border-bottom: 0.01rem solid #39424b;
        font-size: 0.8rem;

        &:hover {
          background-color: #282a36;
          cursor: pointer;
        }

        > h6 {
          font-size: $font-size-sm;
          margin-bottom: 0;
        }
        span {
          font-size: $font-size-sm;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    backdrop-filter: blur(5px);

    border-bottom: $border-color $border-width solid;
  }

  @include media-breakpoint-up(sm) {
    background-color: transparent;
  }

  &-drawer {
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    overflow: hidden;

    .icon-menu {
      width: 30px;
      height: 30px;
      color: #282a36;
    }
  }

  &-logo {
    width: 60px;
    display: flex;
    height: 30px;
    color: #282a36;
  }

  .icon-github {
    width: 25px;
    height: 25px;
    fill: $white;
  }

  .off {
    color: $white;
  }

  .dropdown {
    z-index: 9999999;

    > .btn {
      padding: 3px 25px 3px 10px;
      text-transform: none;
      font-size: $font-size-base * 0.625;
      border-color: $accordion-border-color;
      border-radius: 5px;
      background-image: url(icon-arrow($white));
    }

    ul > li {
      padding: 5px;
      list-style-type: none;
      text-align: center;

      &:hover {
        background-color: transparent;
      }

      > a {
        font-size: $font-size-base * 0.625;
        margin-right: 0;
        color: $white;

        &:hover {
          color: $pink;
        }

        &::before {
          content: '';
          margin-right: 7px;
        }
      }
    }
  }

  a {
    font-weight: 400;
    font-size: 0.945rem;
    text-transform: uppercase;

    &.active {
      color: $cyan;
    }

    &.mr {
      margin-right: 0;
    }

    .icon-github {
      width: 17px;
      height: 17px;
      fill: $white;
    }

    .logo {
      width: 52px;
      height: 50px;
      color: #484f5b; // $white; // #343644;
      opacity: 1;
    }
  }
}

.home {
  width: 18px;
  height: 18px;
  fill: #343644;
}
.logo {
  width: 65px;
  height: 45px;
  color: $white; // #343644;
}
