h1,
h2,
h3,
h4,
h5,
h6 {

  color: $body-color;

  // text-transform: uppercase;

  &:focus-visible {
    display: inline-block;
    padding-top: 75px;
    padding-right: 75px;
    color: $body-color;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%236c757d' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' %3E%3Ccircle cx='12' cy='5' r='3'%3E%3C/circle%3E%3Cline x1='12' y1='22' x2='12' y2='8'%3E%3C/line%3E%3Cpath d='M5 12H2a10 10 0 0 0 20 0h-3'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 65px;
    background-size: 20px;
    outline: none;
  }
}

p > a {
  color: #6eb2d3;
  font-weight: 500;
}

p + h1 {
  margin-top: 50px;
}

h2 {
  text-transform: none !important;
  font-weight: 600;
}

h3 {
  font-family: $font-family-other;
  font-size: $h3-font-size;
  font-weight: 400;
}

h5 {
  font-family: $font-family-other;
  font-size: $h4-font-size;
  font-weight: 400;
}


blockquote {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 15px;

  padding: 15px;
  padding-left: 65px;
  background-color: $code-inline-bg;
  border: $border-width $border-color solid;
  border-radius: 0.5rem;
  position: relative;
  width: fit-content;
  background-image: url(icon-info($gray-600));
  background-repeat: no-repeat no-repeat;
  background-position: 25px center;
  background-size: 2.5%;

  > p code {
    //background: #363f4e;
    color: #76fffc;
    background-color: $code-bg;
    padding: 0.1rem;

    font-weight: 200;
    text-shadow: 0 0.04rem rgb(0 0 0);
    -webkit-font-smoothing: antialiased;
  }

  &.note {
    background-image: url(icon-info($gray-600));
    background-repeat: no-repeat no-repeat;
    background-position: 25px center;
    background-size: 2.5%;
  }

  > p {
    margin: 0;
    color: $body-color;
    font-size: $font-size-sm;
    font-family: $font-family-base;
    font-weight: 200;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

[data-tooltip] {
  &:after {
    text-transform: none;
  }
}

ul {
  margin-bottom: 20px;
}

p {
  a {
    color: #6eb2d3;
    font-weight: 500;

    &:hover {
      color: $white;
    }
  }
}


.breadcrumb {
  font-size: .825rem;


  .icon-right,
  .icon-home {
    width: 12px;
    height: 12px;
  }
}

.link-example {
  font-size: $font-size-xs;

  span {
    color: $blue;

    > .icon {
      width: 14px;
      height: 14px;
      display: inline-flex;
    }
  }

}



.navigators {


  a {
    font-family: $font-family-heading;
    color: $link-color;
    border: $border-width $border-color solid;
    border-radius: 5px;
    padding: 10px 25px;
    text-align: center;
    background-color: $code-bg;

    &.prev {
      padding: 5px 20px 5px 10px;
    }

    &.next {
      padding: 5px 10px 5px 20px;
    }
    &:hover {
      color: $white;
    }
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}


.img-fluid {
  width: 100%;
  height: auto;
}




.drawer-toggle {
  background-image: url(icon-menu($white));
  background-repeat: no-repeat;
}

.drawer-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $drawer-overlay-z-index;
  width: 100%;
  height: 100%;
  background-color: $drawer-overlay-bg;
  visibility: hidden;
  opacity: 0;
  user-select: none;
  backdrop-filter: blur(5px);

  .bg-visible & {
    visibility: visible;
    opacity: 1;

    @include transition(
      visibility 5ms linear $drawer-duration,
      opacity 5ms linear,
      backdrop-filter 5ms linear
    );
  }

  .drawer-open & {
    visibility: visible;
    opacity: 1;
    will-change: transform, opacity;

    @include transition(
      transform $drawer-duration $drawer-easing,
      opacity $drawer-overlay-duration ease,
      backdrop-filter 5ms linear
    );
  }
}


.versions > .dropdown {
  z-index: 9999999;

  > .btn {
    padding: 3px 25px 3px 10px;
    text-transform: none;
    font-size: $font-size-base * 0.625;
    border-color: $accordion-border-color;
    border-radius: 5px;
    background-image: url(icon-arrow($white));
  }

  ul > li {
    padding: 5px;
    list-style-type: none;
    text-align: center;

    &:hover {
      background-color: transparent;
    }

    > a {
      font-size: $font-size-base * 0.625;
      margin-right: 0;
      color: $white;

      &:hover {
        color: $pink;
      }

      &::before {
        content: '';
        margin-right: 7px;
      }
    }
  }
}


.options-accordion {

  > details  {

    &:first-of-type > summary { border-top: none }
    &:last-of-type > summary { border-bottom: none; }

    > summary {
      display: flex;
      align-items: center;
      padding: 10px 0;
      border-bottom: $border-width solid $border-color;
      font-size: .825rem;
      font-weight: $font-weight-bolder;
      font-family: $font-family-heading;
      color: $gray-400;
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 15px;
      background-image: url(icon-plus($white));
      list-style: none;

      + section {
        padding-left: 13px;
      }

      &:hover {
        color: $white;
      }

      &::-webkit-details-marker {
        display: none;
      }
    }

    &[open] > summary {
      color: $white;
      background-image: url(icon-minus($white));
    }


  }
}


