<div class="row g-0 pt-3 mt-4">
  <div class="col-2 pl-3">
    <h6 class="mb-0 fc-gray">TYPE</h6>
  </div>
  <div class="col-5">
    <h6 class="mb-0 fc-gray">DEFINED</h6>
  </div>
  <div class="col-5 tr">
    <h6 class="mb-0 fc-gray">ORIGINAL</h6>
  </div>
</div>