---
title: 'Options - Fragments'
layout: index.liquid
group: 'directive'
permalink: '/options/fragments/index.html'
---

<div class="row">
  <div class="col-12">
    <h4 class="fw-bold pb-3 mb-4 bb">
      Fragments
    </h4>
    <p>
      Testing fragment defintions applied upon connection settings.
    </p>
  </div>
  <div class="col-6">
    <h5 class="fw-bold fc-green">
      Valid
    </h5>
  </div>
  <div class="col-6">
    <h5 class="fw-bold fc-red">
      Error
    </h5>
  </div>
</div>

<div class="row">
  <div class="col-6">
    {% include 'iframe', url: '/options/fragments/valid' %}
  </div>
  <div class="col-6">
    {% include 'iframe', url: '/options/fragments/error' %}
  </div>
</div>