/* stylelint-disable color-function-notation */

:root {
  // FONT FAMILY
  --papyrus-font-size-root: 15px;
  --papyrus-font-size: 1em;
  --papyrus-font-family: consolas, monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --papyrus-line-height: 1.7;

  // EDITOR SIZING
  --papyrus-height: 500px;
  --papyrus-width: 100%;

  // SELECTION
  --papyrus-selection-bg: 255, 255, 255;
  --papyrus-selection-alpha: 0.3;

  // CODE REGION
  --papyrus-code-padding-y: 0.3em;
  --papyrus-code-padding-x: 0.5em;
  --papyrus-code-bg: #181b20;
  --papyrus-code-inline-bg: #eeebeb;
  --papyrus-code-border-radius: 0.5em;
  --papyrus-code-caret-color: #ffffff;

  // SCROLLBAR
  --papyrus-scrollbar-width: 2px;
  --papyrus-scrollbar-track: #181b20;
  --papyrus-scrollbar-bg: #384355;
  --papyrus-scrollbar-thumb: #384355;

  // INVISIBLE CHARACTERS
  --papyrus-invisible-space-color: #42454D;
  --papyrus-invisible-tab-color: #808080;
  --papyrus-invisible-lf-color: #808080;
  --papyrus-invisible-cr-color: #808080;
  --papyrus-invisible-crlf-color: #808080;

  // LINE NUMBERS
  --papyrus-line-number-width: 3.3em;
  --papyrus-line-number-color: #363d49;
  --papyrus-line-fence-color: #363d49;
  --papyrus-line-fence-width: 0.01em;
  --papyrus-line-scroll-left: 0;

  // LINE HIGHLIGHT
  --papyrus-line-highlight-alpha: 0.05;
  --papyrus-line-highlight-bg: 171, 190, 206;
  --papyrus-line-highlight-number: #fafafa;
}


code {
  &.inline {
    padding: 0.1em;
    white-space: normal;
    background: var(--papyrus-code-inline-bg);
    border-radius: 0.3em;
  }
}


@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* -------------------------------------------- */
/* EDITOR                                       */
/* -------------------------------------------- */

pre {
  position: relative !important;
  width: var(--papyrus-width);
  height: var(--papyrus-height);
  font-size: var(--papyrus-font-size-root);
  background: var(--papyrus-code-bg);
  border-radius: var(--papyrus-code-border-radius);

  &.no-fence::before {
    border: none;
  }

  /* LINE FENCE --------------------------------- */

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--papyrus-line-number-width);
    display: block;
    height: 100%;
    background-color: var(--papyrus-code-bg);
    border-right: var(--papyrus-line-fence-width) solid var(--papyrus-line-fence-color);
    content: "";

  }


  /* CODE ELEMENT ------------------------------- */

  textarea.editor {
    color: transparent !important;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    resize: none  !important;
    caret-color: var(--papyrus-code-caret-color);
  }

  code[class*="language-"] {
    // text-shadow: 0 0.04rem rgb(0 0 0);
    color: var(--papyrus-code-color);

    &.lines,
    + textarea.editor {
      padding-left: calc(var(--papyrus-line-number-width) + var(--papyrus-code-padding-x));
    }

    > .papyrus-loc-limit {
      display: flex;
      align-items: center;
      justify-content: center;
    }


    /* -------------------------------------------- */
    /* LINE NUMBERS                                 */
    /* -------------------------------------------- */


    > .line-numbers {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 200;
      display: block;
      width: 100%; // 3.2em; /* works for line-numbers below 1000 lines */
      height: 100%;
      padding-top: var(--papyrus-code-padding-y);
      padding-bottom: var(--papyrus-code-padding-y);
      user-select: none;
      pointer-events: none;;


      span.ln {
        z-index: 200;
        display: flex;
        padding-left: calc(var(--papyrus-line-number-width) / 5);
        line-height: var(--papyrus-line-height);
        counter-increment: linenumber;

        &.highlight {
          background-color: rgba(var(--papyrus-line-highlight-bg), var(--papyrus-line-highlight-alpha));

          &::before {
            color: var(--papyrus-line-highlight-number);
            transition: color 0.1s ease-in;
          }
        }

        &::before {
          display: block;
          width: calc(var(--papyrus-line-number-width) / 2);
          color: var(--papyrus-line-number-color);
          text-align: right;
          content: counter(linenumber);
        }
      }
    }

  }


  textarea.editor,
  code[class*="language-"] {
    position: absolute !important;
    z-index: 100;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: var(--papyrus-code-padding-y) calc(var(--papyrus-code-padding-x));
    overflow: auto;
    font-size: var(--papyrus-font-size);
    font-family: var(--papyrus-font-family);
    line-height: var(--papyrus-line-height);
    white-space: pre;
    text-align: left;
    word-wrap: normal;
    word-break: normal;
    word-spacing: normal;
    tab-size: 2;
    hyphens: none;
    inset: 0;


    /* SCROLLBARS --------------------------------- */

    &::-webkit-scrollbar-track {
      background-color: var(--papyrus-scrollbar-track);
    }

    &::-webkit-scrollbar {
      width: var(--papyrus-scrollbar-width);
      height: var(--papyrus-scrollbar-width);
      background-color: var(--papyrus-scrollbar-bg);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--papyrus-scrollbar-thumb);
    }


    &::selection {
      text-shadow: none;
      background-color: rgba(var(--papyrus-selection-bg), var(--papyrus-selection-alpha));
    }
  }

}


/* -------------------------------------------- */
/* BLOCKS                                       */
/* -------------------------------------------- */


:not(pre) > code[class*="language-"] {
  width: 100%;
  padding: 0.1em;
  white-space: normal;
  background: var(--papyrus-code-bg);
  border-radius: 0.3em;
}

/* -------------------------------------------- */
/* LINE NUMBERS                                 */
/* -------------------------------------------- */


.token {

  /* -------------------------------------------- */
  /* INVISIBLES                                   */
  /* -------------------------------------------- */


  &.tab:not(:empty),
  &.cr,
  &.lf,
  &.space {
    position: relative;
  }

  &.tab:not(:empty)::before,
  &.cr::before,
  &.lf::before,
  &.space::before {
    position: absolute;
    opacity: 1;
  }


  &.tab:not(:empty)::before {
    color: var(--papyrus-invisible-tab-color);
    content: "\21E5";
  }

  &.cr::before {
    color: var(--papyrus-invisible-cr-color);
    content: "\240D";
  }

  &.crlf::before {
    color: var(--papyrus-invisible-crlf-color);
    content: "\240D\240A";
  }

  &.lf::before {
    color: var(--papyrus-invisible-lf-color);
    content: "\240A";
  }

  &.space::before {
    color: var(--papyrus-invisible-space-color);
    content: "\00B7";
  }


}