:root {
  // FONT FAMILY
  // ------------------------------------------------------
  --papyrus-font-size-root: 15px;
  --papyrus-font-size: 1em;
  --papyrus-font-family: consolas, monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --papyrus-line-height: 1.7;

  // EDITOR SIZING
  // ------------------------------------------------------
  --papyrus-height: 550px;
  --papyrus-width: 100%;

  // SELECTION
  // ------------------------------------------------------
  --papyrus-selection-bg: 255, 255, 255;
  --papyrus-selection-alpha: 0.3;

  // CODE REGION
  // ------------------------------------------------------
  --papyrus-code-padding-y: 0.3em;
  --papyrus-code-padding-x: 0.5em;
  --papyrus-code-bg: #181b20;
  --papyrus-code-inline-bg: #eeebeb;
  --papyrus-code-border-radius: 0.5em;
  --papyrus-code-caret-color: #ffffff;

  // SCROLLBAR
  // ------------------------------------------------------
  --papyrus-scrollbar-width: 2px;
  --papyrus-scrollbar-track: #181b20;
  --papyrus-scrollbar-bg: #384355;
  --papyrus-scrollbar-thumb: #384355;

  // INVISIBLE CHARACTERS
  // ------------------------------------------------------
  --papyrus-invisible-space-color: #42454D;
  --papyrus-invisible-tab-color: #808080;
  --papyrus-invisible-lf-color: #808080;
  --papyrus-invisible-cr-color: #808080;
  --papyrus-invisible-crlf-color: #808080;

  // LINE NUMBERS
  // ------------------------------------------------------
  --papyrus-line-number-width: 3.3em;
  --papyrus-line-number-color: #363d49;
  --papyrus-line-fence-color: #363d49;
  --papyrus-line-fence-width: 0.01em;
  --papyrus-line-scroll-left: 0;

  // LINE HIGHLIGHT
  // ------------------------------------------------------
  --papyrus-line-highlight-alpha: 0.05;
  --papyrus-line-highlight-bg: 171, 190, 206;
  --papyrus-line-highlight-number: #fafafa;

  --papyrus-liquid-delimiters: #fafafa;
--papyrus-liquid-comment: #888888;
--papyrus-liquid-boolean: #ff80f4;
--papyrus-liquid-number: #935eff;
--papyrus-liquid-parameter: #ff953c;
--papyrus-liquid-object-name: #81d4fa;
--papyrus-liquid-filter-name: #3defb9;
--papyrus-liquid-operator: #E91E63;
--papyrus-liquid-tag-name: #E91E63;
--papyrus-liquid-punctuation: #E91E63;
--papyrus-liquid-string: #FFF9A6;
--papyrus-liquid-string-delimiters: #888888;
--papyrus-doctype-delimiter: #fafafa;
--papyrus-html-delimiter: #BECAFF;
--papyrus-html-tag-name: #FF93BC;
--papyrus-html-attr-name: #91EBC2;
--papyrus-html-equals: #FF93BC;
--papyrus-html-attr-value: #FFF9A6;
--papyrus-html-comment: #888888;
--papyrus-xml-prolog: #BECAFF;
--papyrus-xml-prefix: #BECAFF;
--papyrus-css-selector: #a5d447;
--papyrus-css-tag-selector: #E91E63;
--papyrus-css-function: #a5d447;
--papyrus-css-variable: #b594d9;
--papyrus-css-operator: #E91E63;
--papyrus-css-punctuation: #f4f4f4;
--papyrus-css-important: #E91E63;
--papyrus-css-atrule: #E91E63;
--papyrus-css-property: #81D4FA;
--papyrus-css-property-value: #FFF9A6;
--papyrus-css-number: #F48FB1;
--papyrus-css-hexcode: #F48FB1;
--papyrus-css-combinator: #E91E63;
--papyrus-css-unit: #E91E63;
--papyrus-css-attr-name: #FFF9A6;
--papyrus-css-attr-punctuation: #f4f4f4;
--papyrus-css-pseudo-element: #e18d27;
--papyrus-json-punctuation: #fafafa;
--papyrus-json-operator: #E91E63;
--papyrus-json-property: #81D4FA;
--papyrus-json-string: #FFF9A6;
--papyrus-json-boolean: #FF80F4;
--papyrus-json-number: #FF80F4;
--papyrus-js-comment: #888888;
--papyrus-js-keyword: #E91E63;
--papyrus-js-function: #9EE34F;
--papyrus-js-function-name: #81D4FA;
--papyrus-js-class-name: #9EE34F;
--papyrus-js-punctuation: #fafafa;
--papyrus-js-special-chars: #E91E63;
--papyrus-js-parameter: #FFAB40;
--papyrus-js-variable: #81D4FA;
--papyrus-js-operator: #E91E63;
--papyrus-js-operation: #E91E63;
--papyrus-js-module: #E91E63;
--papyrus-js-semi: #fafafa;
--papyrus-js-flow: #E91E63;
--papyrus-js-number: #F48FB1;
--papyrus-js-boolean: #FF80F4;
--papyrus-js-string: #F5EC70;
--papyrus-js-regex: #F5EC70;
--papyrus-js-regex-flags: #E91E63;
--papyrus-js-literal-property: #22c0cb;
--papyrus-font-size-root: 15px;
--papyrus-code-color: #FFFFFF;
--papyrus-font-size: 1em;
--papyrus-code-padding-y: 0.4em;
--papyrus-code-padding-x: 0.4em;
--papyrus-line-height: 1.7em;
--papyrus-code-border-radius: 0.5em;
--papyrus-body-bg: #181b20;
--papyrus-code-bg: #181b20;
--papyrus-scrollbar-width: 2px;
--papyrus-scrollbar-bg: #384355;
--papyrus-scrollbar-thumb: #384355;
--papyrus-scrollbar-track: #181b20;
--papyrus-selection-alpha: 0.3;
--papyrus-selection-bg: 255,255,255;
--papyrus-line-highlight-alpha: 0.1;
--papyrus-line-highlight-bg: 171, 190, 206;
--papyrus-line-highlight-number: #fafafa;
--papyrus-line-number-width: 3.4em;
--papyrus-line-number-color: #363d49;
--papyrus-line-fence-color: #363d49;
--papyrus-invisible-space-color: #42454D;
--papyrus-invisible-tab-color: #808080;
--papyrus-invisible-lf-color: #808080;
--papyrus-invisible-cr-color: #808080;
--papyrus-invisible-crlf-color: #808080;
}

pre.papyrus code[class*=language-] {
  padding-left: 3.8em
}