<aside class="col-auto sidebar pt-4">
  <div
    spx-component="cases"
    class="sticky p-4"
    style="top: 30px">
    {%- for item in cases.menu -%}
      <strong class="ff-head upper fw-bolder">
        {{ item.title }}
      </strong>
      <ul class="my-3">
        {%- for link in item.links -%}
          <li class="pb-0">
            <a
              href="{{ link.url }}"
              spx-node="cases.link"
              spx@click="cases.onClick"
              {%- if page.url contains link.url or link.url == base -%}
                class="fc-pink"
              {%- else -%}
                class="fc-dark-gray"
              {%- endif -%}>
              {{ link.title }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    {%- endfor -%}
  </div>

</aside>