<aside
  class="col-auto pt-5 pl-4 sidebar"
  id="sidebar">
  <div
    class="sticky"
    style="top: 30px">
    {% for item in menu %}
      <strong class="ff-head upper fw-bolder">
        {{ item.title }}
      </strong>
      <ul class="my-3">
        {% for link in item.links %}
          <li class="pb-0">
            <a
              href="{{ link.url }}"
              {% if page.url == link.url or link.url == base %}
                class="fc-pink"
              {% else %}
                class="fc-dark-gray"
              {% endif %}>
              {{ link.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>

</aside>