<flex
  class="v bg-code event-logger"
  style="flex: .45">
  <flex-item style="flex: 1;">

    <div class="row g-0 explorer">
      <div
        class="col-12"
        spx-node="explorer.components"></div>
    </div>

  </flex-item>
</flex>