---
layout: views/base.liquid
title: 'Component Alias'
permalink: '/'
index: true
---

<div class="row g-0 py-4  h-100 ai-center  jc-center">
  <div class="col-7 tc">
    {% svg 'logo', 'icon-logo mt-5' %} <br><br>
    This a static runtime for testing SPX. Given that SPX often involves actions that typical test tools don't handle well, this custom test suite exists to perform e2e (end-to-end) and improved debugging.
  </div>

</div>