---
title: 'Component Observer'
layout: views/base.liquid
---

<div class="row">
  <div class="col-11">
    {{ content }}
  </div>
</div>
<div class="row">
  <div
    id="mounted"
    class="col-12"></div>
</div>