.accordion {
  display: block;
  width: 100%;
  border: 1px solid pink;
  border-top: none;
}

.accordion-header {
  display: block;
  margin: 0;

  .icon-chevron-down {
    visibility: hidden;
  }

  .icon-chevron-right {
    visibility: visible;
  }

  &.open {
    &.bd-bottom {
      border-bottom: none;
    }

    .icon-chevron-down {
      visibility: visible;
    }

    .icon-chevron-right {
      visibility: hidden;
    }
  }

  &.focus > .accordion-button {
    outline: none;
  }
}

.accordion-button {
  display: block;
  width: 100%;
  margin: 0;
  padding: 20px 24px;
  color: inherit;
  font-size: inherit;
  text-align: left;
  background-color: #fff;
  border: none;
  border-top: 1px solid pink;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;

  &::-moz-focus-inner {
    border: 0;
  }
}

.accordion-content {
  display: none;
  height: 0;
  overflow: hidden;
  color: #000;
  background-color: #fff;
  border-top: 1px solid pink;
  transition: height 0.1s linear 0.1s;
  transition: height 0.1s linear 0.1s;

  &.open {
    display: block;
    transition: height 0.2s linear;
    transition: height 0.2s linear;
  }

  &.opened {
    overflow: visible;

    > .accordion-inner {
      opacity: 1;
      transition: opacity 0.1s ease;
      transition: opacity 0.1s ease;
    }
  }
}

.accordion-inner {
  padding: 20px 24px;
}
