.relapse {
  position: relative;
  border: 1px solid $accordion-border-color;
  border-top: none;

  &-btn.opened,
  &-btn.focused {
    color: $cyan;
  }

  &-btn {
    padding: 10px 20px;

    &:hover,
    &:focus {
      color: $cyan;
    }
  }
}
