.accordion {
  position: relative;
  display: block;
  width: 100%;
  border: $accordion-border-width solid $accordion-border-color;
  border-top: none;

  &.accordion-markdown {
    margin-bottom: 40px;
    border: none;

    > h3 {
      margin-bottom: 0;
      font-size: $font-size-md;
      padding: 10px 0;
      border-top: none;
      border-bottom: $accordion-border-width solid
        $accordion-border-color;

      > code {
        color: $white;
        font-weight: 500;
      }

      &:last-of-type {
        border-bottom: none;
      }

      + blockquote {
        border-radius: 0;
        border: none;

        &:last-of-type {
          border-top: $accordion-border-width solid
            $accordion-border-color;
        }

        > p {
          padding: 20px;
        }
      }

      > code {
        background-color: transparent;
        padding: 0;
      }
    }
  }

  &.lined {
    border: none;
  }

  &-fold,
  > h3 + blockquote {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    will-change: opacity, max-height;
    background-color: $code-inline-bg;
    @include transition(
      opacity $accordion-transition-opacity linear,
      max-height $accordion-transition-height
        $accordion-transition-easing
    );

    &.expanded {
      max-height: auto;
      visibility: visible;
      opacity: 1;
    }
  }

  &-btn,
  > h3 {
    display: inline-block;
    width: 100%;
    text-align: left;
    border: none;
    border-top: $accordion-border-width solid $accordion-border-color;
    border-radius: 0;
    cursor: pointer;
    color: $link-color;
    user-select: none;
    background-color: inherit;
    background-repeat: no-repeat;
    background-position: right $accordion-icon-padding-x center;
    background-image: url(icon-plus($body-color));
    background-size: $input-height-inner-half $input-height-inner-half;

    &.no-icon {
      background-image: none !important;
    }

    &.lined & {
      border-top: none;
      border-bottom: $accordion-border-width solid
        $accordion-border-color;

      &:last-of-type {
        border-bottom: none;
      }
    }

    &.initial {
      color: inherit;
      background-color: inherit;

      + .accordion-fold {
        max-height: unset;
        visibility: visible;
        opacity: 1;
      }
    }

    &.opened {
      color: inherit;
      background-image: url(icon-minus($body-color));
    }

    &:focus {
      outline: 0;
      box-shadow: $btn-focus-box-shadow;
    }
  }
}
