code {
  color: $pink;
  font-size: 1.025rem;
}

code[class*="language-"] {
  color: $cyan;
  font-size: $font-size-base;
  font-family: $font-family-code;
  white-space: pre;
  white-space: pre-wrap;
  text-shadow: none;
  word-wrap: normal;
  tab-size: 2;
  hyphens: none;
}

pre {
  position: relative;
  padding: 15px;
  overflow: auto;
  border: none;
  border-radius: 4px;

  &[class*="language-"] {
    color: $cyan;
    font-family: $font-family-code;
    white-space: pre;
    white-space: pre-wrap;
    text-shadow: none;
    word-wrap: normal;
    tab-size: 2;
    hyphens: none;
    background: $gray-800;
  }

  code {
    display: block;
    white-space: pre;
  }

  > code[class*="language-"] {
    font-size: 1.025rem;
  }
}

:not(pre) > code[class*="language-"] {
  padding: 0.15em 0.2em 0.05em;
  background: rgb(30 30 30);
  border: 0.13em solid #7a6652;
  border-radius: 0.3em;
  box-shadow: 1px 1px 0.3em -0.1em #000 inset;
}


.token {
  &.selector,
  &.inserted {
    color: $green;
  }

  &.atrule,
  &.attr-value,
  &.keyword,
  &.important,
  &.deleted {
    color: $pink;
  }

  &.regex,
  &.statement {
    color: $cyan;
  }

  &.placeholder,
  &.variable {
    color: $white;
  }

  &.important,
  &.statement,
  &.bold {
    font-weight: bold;
  }

  &.punctuation {
    color: #ccc;
  }

  &.entity {
    cursor: help;
  }

  &.italic {
    font-style: italic;
  }

  &.namespace {
    opacity: 0.7;
  }

  &.comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: #ccc;
  }

  &.operator,
  &.boolean,
  &.number {
    color: $purple;
  }

  &.attr-name,
  &.string,
  &.entity,
  &.url {
    color: $yellow;
  }
}

.language-css .token.string,
.style .token.string {
  color: $yellow;
}

code.language-javascript,
code.language-js {
  color: $gray-300;

  .token {
    &.comment {
      color: $gray-600;
    }

    &.function {
      color: $cyan;
    }

    &.parameter {
      color: $orange;
    }

    &.tag {
      color: $pink;
    }

    &.attr-name {
      color: $green;
    }

    &.attr-value {
      color: $yellow;
    }

    &.style {
      color: $cyan;
    }

    &.script {
      color: $cyan;

      .token.keyword {
        color: $cyan;
      }
    }
  }
}

code.language-html {
  color: $gray-200;

  .token {
    &.comment {
      color: $gray-600;
    }

    &.tag {
      color: $pink;
    }

    &.attr-name {
      color: $green;
    }

    &.attr-value {
      color: $yellow;
    }

    &.style {
      color: $cyan;
    }

    &.script {
      color: $gray-200;

      .token.function {
        color: $cyan;
      }

      .token.keyword {
        color: $cyan;
      }
    }
  }
}

code.language-bash {
  color: $pink;
}

code.language-markup {
  color: $gray-200;

  .token {
    &.tag {
      color: $pink;
    }

    &.attr-name {
      color: $green;
    }

    &.attr-value {
      color: $yellow;
    }

    &.style {
      color: $cyan;
    }

    &.script {
      color: $cyan;

      .token.function {
        color: $cyan;
      }

      .token.keyword {
        color: $cyan;
      }
    }
  }
}

/* Line highlight plugin */

.line-highlight.line-highlight {
  padding: 0;
  background: rgb(255 255 255 / 8%);

  &::before,
  &[data-end]::after {
    height: 1em;
    padding: 0.2em 0.5em;
    color: black;
    line-height: 1em;
    background-color: rgb(255 255 255 / 40%);
    box-shadow: 0 1px 1px rgb(255 255 255 / 70%);
  }
}
