h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 15px;
  color: $body-color;
  text-transform: none;

  // text-transform: uppercase;

  &:focus-visible {
    display: inline-block;
    padding-top: 75px;
    padding-right: 75px;
    color: $body-color;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%236c757d' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' %3E%3Ccircle cx='12' cy='5' r='3'%3E%3C/circle%3E%3Cline x1='12' y1='22' x2='12' y2='8'%3E%3C/line%3E%3Cpath d='M5 12H2a10 10 0 0 0 20 0h-3'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 65px;
    background-size: 20px;
    outline: none;
  }
}

p > a {
  color: #6eb2d3;
  font-weight: 500;
}


h4 {
  font-family: $font-family-code;
  font-size: $h5-font-size;
  text-transform: lowercase;
  background-color: $code-inline-bg;
  padding: 5px 8px;
  width: fit-content;
  border-radius: 5px;
  font-weight: 400;
}

blockquote {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 15px;

  padding: 20px;
  padding-left: 65px;
  background-color: $code-inline-bg;
  border: $border-width $border-color solid;
  border-radius: 0.5rem;
  position: relative;
  width: fit-content;

  > p code {
    //background: #363f4e;
    color: #76fffc;
    background-color: $code-bg;
    padding: 0.1rem;

    font-weight: 200;
    text-shadow: 0 0.04rem rgb(0 0 0);
    -webkit-font-smoothing: antialiased;
  }

  &.note {
    background-image: url(icon-info($gray-600));
    background-repeat: no-repeat no-repeat;
    background-position: 25px center;
    background-size: 2.5%;
  }

  > p {
    margin: 0;
    color: $body-color;
    font-size: $font-size-sm;
    font-family: $font-family-base;
    font-weight: 200;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

[data-tooltip] {
  &:after {
    text-transform: none;
  }
}

ul {
  margin-bottom: 20px;
}

p {
  a {
    color: #6eb2d3;
    font-weight: 500;

    &:hover {
      color: $white;
    }
  }
}

.breadcrumb {
  .icon-right,
  .icon-home {
    width: 15px;
    height: 15px;
  }
}


.navigators {
  padding-top: 10px;

  .btn {
    text-transform: none;
    color: $white;
    font-size: $font-size-md;
    display: inline-flex;
    align-items: center;

    span {
      color: $blue;

      > .icon {
        width: 20px;
        height: 20px;
        display: inline-flex;
      }
    }

    &.next {
      color: $blue;

      &:hover {
        span {
          color: $blue;
        }
      }
      span {
        color: $white;
      }
    }

    &:hover {
      color: $blue;
    }
  }
}