.session {
  position: fixed;
  top: 50px;
  right: 0;
  width: 350px;
  height: 100vh;
  border-color: $cyan;
  border-left: 1px solid $cyan;
}

.bd-bottom {
  border-color: $cyan;
}

.session-scroll {
  overflow-y: scroll;
}


h1,
h2,
h3,
h4 {
  margin-top: 50px !important;
  font-family: Roboto, sans-serif !important;
  text-transform: uppercase;
}
