---
layout: views/index.liquid
---

<div id="example">

  {{
    content
  }}

  <div class="row ai-center jc-start my-5">
    <div class="col-6">
      <section
        class="accordion"
        spx-component="merge">
        <details open>
          <summary class="accordion-btn py-2 px-4">Foo</summary>
          <div class="accordion-content">
            <div class="p-4">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem cum error quidem necessitatibus, doloribus suscipit esse quasi nihil nemo laudantium, voluptatum eius magnam? Harum quis repellendus explicabo nobis. Officia?
            </div>
          </div>
        </details>
        <details>
          <summary class="accordion-btn py-2 px-4">Bar</summary>
          <div class="accordion-content">
            <div class="p-4">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem cum error quidem necessitatibus, doloribus suscipit esse quasi nihil nemo laudantium, voluptatum eius magnam? Harum quis repellendus explicabo nobis. Officia?
            </div>
          </div>
        </details>
        <details>
          <summary class="accordion-btn py-2 px-4">Baz</summary>
          <div class="accordion-content">
            <div class="p-4">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem cum error quidem necessitatibus, doloribus suscipit esse quasi nihil nemo laudantium, voluptatum eius magnam? Harum quis repellendus explicabo nobis. Officia?
            </div>
          </div>
        </details>
        <details>
          <summary class="accordion-btn py-2 px-4">Qux</summary>
          <div class="accordion-content">
            <div class="p-4">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem cum error quidem necessitatibus, doloribus suscipit esse quasi nihil nemo laudantium, voluptatum eius magnam? Harum quis repellendus explicabo nobis. Officia?
            </div>
          </div>
        </details>
      </section>
    </div>
  </div>
</div>