<!DOCTYPE html>
<html lang="en">

  <head>
    {%- include 'include/head'  , iframe: false -%}
  </head>

  <body>

    {%- unless page.url == '/' -%}
      {%- assign drawer = 'd-sm-block' -%}
      {%- include 'include/navbar' -%}
      {%- include 'include/search' -%}
    {%- else -%}
      {%- assign drawer = 'd-sm-none' -%}
    {%- endunless -%}

    <div class="container-fluid container-wrapper">
      {%- include 'include/sidebar-header' -%}
      <aside
        class="px-0 vh-100 bt br sidebar drawer-left drawer-panel d-none {{ drawer }}"
        spx-component="drawer"
        spx-drawer:direction="left"
        spx-drawer:width="280">
        {%- include 'include/sidebar' -%}
      </aside>

      {%- if page.url == '/' -%}
        {%- include 'include/landing' -%}
      {%- else -%}

        <div id="content" class="row jc-center jc-md-start content-offset pl-xxl-4">

          <main class="col-11 col-lg col-xl-9 pl-md-4 pb-4">
            <div class="pr-lg-5 mr-2">
              {%- include 'include/breadcrumb' -%}
              {{ content }}
              {%- include 'include/paginate' -%}
            </div>
          </main>

          {%- if anchors -%}
            <div
              class="col-xl-auto anchors d-none d-md-unset"
              spx-component="scrollspy"
              spx-scrollspy:class="fc-blue">
              <ul>
                {%- for name in anchors -%}
                  <li>
                    <a href="{{ name | anchor }}" spx-node="scrollspy.href">{{ name }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>

    {%- sprite -%}
    {%- search 'spx' -%}

    <div class="drawer-backdrop" spx-node="drawer.backdrop"></div>
  </body>
</html>