---
layout: base.liquid
permalink: '/index.html'
title: 'SPX | Single Page XHR'
description: 'SPX (Single Page XHR) is a drop-in enhancement for SSR powered web applications. A lightening fast, lightweight
(8kb gzip) push~state solution.'
---

{% comment %}
  esthetic-ignore-start
{% endcomment %}

<strong>Single Page XHR</strong> enhancement for <strong>SSR</strong> powered web applications.<span class="d-inline d-md-block">SPX is a lightening fast, lightweight (10kb gzip) <strong>push~state</strong> solution.</span>

{% comment %}
  esthetic-ignore-end
{% endcomment %}