---
title: 'Options - Fragments Error'
layout: iframe.liquid
group: 'directive'
permalink: '/options/fragments/error/index.html'
script: '/fragments-error.js'
---

<main class="px-5">
  <div class="d-block my-3 using-class">
    <h6>Using Class</h6>
  </div>
  <div
    class="d-block my-3"
    id="using-hash">
    <h6>Using Hash</h6>
  </div>
  <div
    class="d-block my-3"
    id="is-valid">
    <h6>Is Valid</h6>
  </div>
  <div
    class="d-block my-3"
    data-attr>
    <h6>Element D</h6>
  </div>
</main>