---
title: 'Options - Fragments Valid'
layout: iframe.liquid
permalink: '/options/fragments/valid/index.html'
script: '/fragments-valid.js'
---

<main class="px-5">
  <div
    class="d-block my-3"
    id="element-a">
    <h6>Element A</h6>
  </div>
  <div
    class="d-block my-3"
    id="element-b">
    <h6>Element B</h6>
  </div>
  <div
    class="d-block my-3"
    id="element-c">
    <h6>Element C</h6>
  </div>
  <div
    class="d-block my-3"
    id="element-d">
    <h6>Element D</h6>
  </div>
</main>