{% if page.url == '/' %}
  {% assign drawer = '' %}
{% else %}
  {% assign drawer = 'drawer-active' %}
{% endif %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <title>
      {{ title }}
    </title>
    <meta charset="UTF-8">
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0">
    <link
      href="{{'/style.css' | url }}"
      rel="stylesheet">
    <script src="{{'/bundle.min.js' | url }}"></script>

    <meta
      name="spx:capture"
      content="abcdefg" />

  </head>

  <body>

    {% if page.url != '/' %}

      <main
        id="main"
        class="container-fluid">
        <div class="row">

          <div class="col-auto px-0 sidebar vh-100 br">
            {% include 'sidebar', links: sidebar %}
          </div>
          <div class="col px-5 py-4">
            <div class="d-block">
              {% include 'breadcrumbs' %}
            </div>
            <div class="px-4">
              {{ content }}

            </div>
          </div>
          <div class="col-3 col-xl-4 col-xxl-3 d-none d-xl-flex">
            {% include 'session' %}
          </div>
        </div>
      </main>

    {% else %}

      {% include 'landing' %}

    {% endif %}

    {% svgsprite %}

  </body>
</html>