<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{'/style.css' | url }}" rel="stylesheet">
    <script src="{{'/bundle.min.js' | url }}"></script>

  </head>
  <body>

    {%- if page.url != '/' -%}
      {% include 'navbar' %}
    {%- endif -%}

    {% include 'sidebar' %}

    {{ content }}

    {% include 'session' %}

    {% svgsprite %}
  </body>
</html>
