{% assign links = page.url | split: '/' %}

<div class="row gx-2 breadcrumb mt-4 pl-4 mb-5">
  <div class="col-auto">
    {% svg 'home', 'icon icon-home' %}
  </div>
  <div class="col-auto">
    {% svg 'chevron-right', 'icon icon-right' %}
  </div>
  <div class="col-auto">
    {{ links[1] | capitalize }}
  </div>

  {% if links[2] %}
    <div class="col-auto">
      {% svg 'chevron-right', 'icon icon-right' %}
    </div>
    <div class="col-auto">
      {{ links[2] | replace: '-', ' ' | capitalize }}
    </div>
  {% endif %}
  {% if links[3] %}
    <div class="col-auto">
      {% svg 'chevron-right', 'icon icon-right' %}
    </div>
    <div class="col-auto fc-gray">
      {{ links[3] | replace: '-', ' ' | capitalize }}
    </div>
  {% endif %}
</div>