<header class="container pb-4">
  <div class="row py-4">
    <a href="{{ '/' | url }}" class="col-auto undecorate pl-0 pr-3">DOCS</a>
    <a href="{{ '/examples' | url }}" class="col-auto undecorate fc-white">EXAMPLE</a>

    <a href="{{ '/' | url }}" class="col tc undecorate fs-xs pl-4 pr-5 offset-5">v 1.0.0-BETA-1</a>
  </div>
</header>
