<header>
  <div class="row ai-center px-3">
    <a href="/" class="col-2">
      {% svg "logo", 'logo' %}
    </a>
    <a href="{{ '/' | url }}" class="col-auto text-none">DOCS</a>
    <a href="{{ '/examples' | url }}" class="col-auto text-none fc-white">EXAMPLES</a>

  </div>
</header>
