<header class="d-flex ai-center">
  <div class="row py-4 pl-5">
    <a href="{{ '/' | url }}" class="col-auto undecorate pl-0 pr-3">DOCS</a>
    <a href="{{ '/examples' | url }}" class="col-auto undecorate fc-white">EXAMPLE</a>
  </div>
</header>
