<header
  id="navbar"
  class="container-fluid navbar bb pl-3">
  <div class="row jc-cent ai-center bg-white w-100 pr-0">

    <div class="col pr-0">
      <a
        href="{{ '/' | url }}"
        class="col-auto fw-bolder uncase pl-0 pr-3">
        {% svg "github", 'home' %}
      </a>
      <a
        href="{{ '/' | url }}"
        class="col-auto fw-bolder uncase pl-0 pr-3 active">
        Documentation
      </a>
      <a
        href="{{ '/' | url }}"
        class="col-auto fw-bolder uncase pl-0 pr-3">
        Examples
      </a>
    </div>

    <a
      href="/"
      class="col-auto tc pl-0 pr-5"
      data-spx-target="['body']">
      {% svg "logo", 'logo' %}
    </a>

    <div class="col"></div>
  </div>
</header>