{% for link in collections.all %}
  {% if link.url == page.url and link.data.prev and link.data.next %}
    <div class="px-5 pt-4 mr-3">
      <hr>
    </div>
    <div class="row jc-between mt-1 px-5 navigators">
      <div class="col-auto">
        <a
          class="btn"
          href="{{ link.data.prev.uri }}">
          <span class="mr-2">
            {% svg 'chevron-left', 'icon icon-left' %}
          </span>
          {{ link.data.prev.label }}
        </a>
      </div>
      <div class="col-auto">
        <a
          class="btn"
          href="{{ link.data.next.uri }}">
          {{ link.data.next.label }}
          <span class="ml-2">
            {% svg 'chevron-right', 'icon icon-right' %}
          </span>
        </a>
      </div>
    </div>
  {% endif %}
{% endfor %}