<div class="row bd-bottom g-1 mt-5" data-controller="session">
  <div class="col-12 session-scrol bd-bottom bd-cyan py-4">
    <h6 class="pl-3">OBSERVERS</h6>
    <div class="d-flex flex-column w-100" data-session-target="observers"></div>
  </div>
  <div class="col-12 session-scroll bd-bottom bd-cyan py-4">
    <h6 class="pl-3">STORE</h6>
    <div class="d-flex flex-column w-100" data-session-target="memory"></div>
  </div>
  <div class="col-12 session-scrol bd-bottom bd-cyan py-4">
    <h6 class="pl-3">PAGES</h6>
    <div class="d-flex flex-column w-100" data-session-target="pages"></div>
  </div>
  <div class="col-12 session-scrol bd-bottom bd-cyan py-4">
    <h6 class="pl-3">SNAPSHOTS</h6>
    <div class="d-flex flex-column w-100" data-session-target="snapshots"></div>
  </div>
</div>
