---
layout: views/base.liquid
---

<div
  class="row mt-4 g-0"
  spx-component="literal">
  <div class="col-12 mb-4">
    {{ content }}
  </div>
  <div
    class="col-6 bx bb"
    spx-node="literal.div"></div>
  <div
    class="col-6 br bb"
    spx-node="literal.pre"></div>

</div>