<nav>
  <ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/about" class="active">About</a></li>
    <li><a href="/counter">Counter</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
<main id="main">
  <h1>About Page</h1>
  <p>Lorem Ipsum</p>
</main>
<footer>
  <h5>Example Website</h5>
</footer>
