<nav>
  <ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/">About</a></li>
    <li><a href="/" class="active">Counter</a></li>
    <li><a href="/">Contact</a></li>
  </ul>
</nav>
<main id="main">
  <h1>Counter Page</h1>
  <div spx-component="counter">
    <span spx-bind="counter.number">0</span>
    <hr>
    <button type="button" spx@click="counter.increment">Increment</button>
    <button type="button" spx@click="counter.decrement">Decrement</button>
  </div>
</main>
<footer>
  <h5>Example Website</h5>
</footer>
