<nav>
  <ul id="menu">
    <li><a href="/" class="active">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/counter">Counter</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
<main id="main">
  <h1>Hello World</h1>
  <p></p>
</main>
<footer>
  <h5>Example Website</h5>
</footer>
