---
layout: views/base.liquid
permalink: '/components/types/index.html'
base: /components/types/
defaults:
  - name: String
    bind: defaultStringValue
  - name: Boolean
    bind: defaultBooleanValue
  - name: Number
    bind: defaultNumberValue
  - name: Object
    bind: defaultObjectValue
  - name: Array
    bind: defaultArrayValue
---

<div class="row">
  <div class="col-12">
    <h1>
      🧪 Default States
    </h1>
    <p>
      The components state is using TypeConstructor and the component DOM does not assert any state directives. The outcome will be the SPX default state values.
    </p>
    <hr>
  </div>
</div>
{%- include 'cases/component-types/include/pages' -%}
{%- include 'cases/component-types/include/legend' -%}
<div class="row ml-1 py-1">
  <div class="col">
    <div
      class="d-block py-2"
      spx-component="types">
      {%- for type in defaults -%}
        <div class="row g-0 ai-center py-2 {% unless forloop.last %}bb{% endunless %}">
          <span class="col-2">{{ type.name }}</span>
          <code
            class="col-5 fw-bold fc-blue"
            spx-bind="types.{{ type.bind }}"></code>
          <code
            class="col-5 tr fw-bold"
            spx-bind="types.{{ type.bind }}"></code>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>