---
title: 'SPX Examples | Infinite Scrolling'
layout: base.liquid
permalink: '/examples/infinite-scrolling/index.html'
---

<h1>
  Infinite Scrolling
</h1>

<div class="mb-4">
  This example show how you can leverage SPX to perform infinite scrolling pagination. The example leverages the
  <code>spx.render()</code>
  method to perform the operation and intends to show how one
  <i>might</i>
  leverage SPX to achieve this functionality. Take a look at the
  <a href="/methods/render">
    spx.render
  </a>
  documentation for more information.
</div>

<hr>

<div
  id="infinite-example"
  data-controller="examples"
  class="bg-code p-5">

  <h3 class="mb-2">Landing Page</h3>

  <p>
    Press the
    <strong>Load More</strong>
    button below to have SPX execute a fetch and load more images.
  </p>

  <div
    class="row"
    id="load-more">
    {% for image in (1..4) %}
      <div class="col-3 mb-4">
        <img
          class="img-fluid"
          src="/assets/img/{{ image }}.webp">
      </div>
    {% endfor %}
  </div>

  <a
    class="btn btn-outline btn-white mx-auto my-3 px-3 d-block"
    href="/examples/infinite-scrolling/page-1/"
    id="load"
    spx-intersect="50px">
    Load More
  </a>

</div>