---
title: 'Basic'
layout: views/base.liquid
group: 'directive'
permalink: '/components/basic/index.html'
---

<div
  spx-component="basic"
  spx-basic:name="qux"
  spx-basic:clicks="0">
  <h4 class="fw-bold pb-3 mb-4 bb">
    Basic Tests
  </h4>
  <p>
    Click component which increments a number each time the button is pressed.
  </p>
  <div class="row ai-center jc-start mb-5">
    <button
      class="col-auto fs-sm upper fw-bold ml-3"
      type="button"
      spx@click="basic.button"
      spx-basic:foo="100"
      spx-basic:bar="string"
      spx-basic:bool="true">
      Increment
    </button>
    <code
      class="col-auto fs-lg"
      spx-bind="basic.clicks">0</code>
  </div>
</div>

<hr>

<div
  spx-component="basic"
  spx-basic:name="qux"
  spx-basic:clicks="0">
  <p>
    Identical click component structure, clicks will be isolated.
  </p>
  <div class="row ai-center jc-start mb-5">
    <button
      class="col-auto fs-sm upper fw-bold ml-3"
      type="button"
      spx@click="basic.button"
      spx-basic:foo="100"
      spx-basic:bar="string"
      spx-basic:bool="true">
      Increment
    </button>
    <code
      class="col-auto fs-lg"
      spx-bind="basic.clicks">0</code>
  </div>
</div>